{% block logout %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/shop-homepage.css" rel="stylesheet">

	<br>
	<a href="{{request.META.HTTP_REFERER}}">Go back</a>
	<div style="text-align: right; margin-right: 100px">
		<a href={% url 'housing:logout_view' %} >logout</a>
	</div>
	{% block totalprice %}
	<div style="width: 100%">
		<div style="width:50%; margin: 0 auto">Total cost so far: ${{request.session.total_price}}</div>	
	</div>
	{% endblock %}
</head>
{% endblock %}
<body style="margin-left: 100px">
{% block content %}
{% endblock %}
</body>