{% extends "base.html" %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<h1>Choose an Upgrade</h1>
<form name="div-form" id="div-form" action="{% url 'housing:select_bathroom_upgrade'%}" method="post">
	{% csrf_token %}
	{% for upgrade in upgrades %}
	<div> 
		<div onclick="$('#radio{{upgrade.id}}').prop('checked', true);document.forms['div-form'].submit();return false;">
			<input type="radio" name="upgrade" id="radio{{upgrade.id}}" value="{{upgrade.id}},{{bathroom}},True" style="display:none"/>
			<div><img src="{{ upgrade.image }}"/></div>
			<div>Price: {{ upgrade.ppsf }}</div>
			<div>Name: {{ upgrade.name }}</div>
		</div>
	</div>
	<br>
	{% endfor %}
	{% for flat_price_upgrade in flat_price_upgrades %}
	<div> 
		<div onclick="$('#radio{{flat_price_upgrade.id}}').prop('checked', true);document.forms['div-form'].submit();return false;">
			<input type="radio" name="upgrade" id="radio{{flat_price_upgrade.id}}" value="{{flat_price_upgrade.id}},{{bathroom}},False" style="display:none"/>
			<div><img src="{{ flat_price_upgrade.image }}"/></div>
			<div>Price: {{ flat_price_upgrade.price }}</div>
			<div>Name: {{ flat_price_upgrade.name }}</div>
		</div>
	</div>
	<br>
	{% endfor %}
	<div>Total cost so far: ${{request.session.total_price}}</div>
</form>
{% endblock %}