{% extends "base.html" %}
{% block totalprice %}
{% endblock %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<h1>Choose a house</h1>

	<div class="container">
        <div class="row">
	{% for house in houses %}
		<div class="col-sm-4 col-lg-4 col-md-4 {{ upgrade.upgrade_type }} chosen-upgrade"> 
			<div class="thumbnail">
				<div><img src="{{ house.image.url }}"/></div>
				<div class="caption">
				<h4 style="text-align:center"><a href="../room_types/{{house.id}}">{{house.name}}</a></h4>
					<h4 class="pull-right">${{ house.price }}</h4>
					<h4 class="pull-left"> Sqft: {{ house.sqft }}</h4>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}