{% extends "base.html" %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<h1>Choose a lot</h1>
<form name="div-form" id="div-form" action="{% url 'housing:lot'%}" method="post">
	{% csrf_token %}
	{% load static %}
	{% for lot in lots %}
	<div> 
		<div onclick="$('#radio{{lot.id}}').prop('checked', true);document.forms['div-form'].submit();return false;">
			<input type="radio" name="lot_id" id="radio{{lot.id}}" value="{{lot.id}}" style="display:none"/>
			<div class="lot_image"><img src="{{ lot.image.url }}"/></div>
			<div class="lot_name">{{ lot.name }}</div>
		</div>
	</div>
	{% endfor %}
</form>
{% endblock %}