{% extends "base.html" %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<h1>{{room_type}}</h1>
<h3> Chosen Upgrades: </h3>
{% for upgrade in already_chosen %}
<div> 
	<div>
		<div>Room: {{ upgrade.name }}</div>
		<div><img src="{{ upgrade.image }}"/></div>
		{% if upgrade.ppsf_upgrade %} <div>Price Per Square Foot: {{ upgrade.ppsf_upgrade.ppsf }}</div> {% endif %}
		{% if upgrade.flat_price_upgrade %} <div>Price: {{ upgrade.flat_price_upgrade.price }}</div> {% endif %}
	</div>
</div>
<br>
{% endfor %}
<h3>Choose New Upgrades</h3>
	{% csrf_token %}
	{% for upgrade_type, upgrades in ppsf_upgrades_by_type.items %}
	<h4>Type: {{upgrade_type}}</h4>
	<div class="row">
		{% for upgrade in upgrades %}
        <div class="col-sm-4 col-lg-4 col-md-4">
      	    <div class="thumbnail">
                <img src="{{ upgrade.image }}" alt="">
                <div class="caption">
	                <h4 class="pull-right">${{ upgrade.ppsf }}/sf</h4>
	                <h4><a href="../select_room_upgrade/{{upgrade.id}}/{{room}}/True/{{room_type|cut:" "}}">{{ upgrade.name }}</a>
	                </h4>
	                <p>{{ upgrade.description }}</p>
                </div>
            </div>
        </div>
		<div> 
			<div onclick="$('#radio{{upgrade.id}}').prop('checked', true);document.forms['div-form'].submit();return false;" style="cursor:pointer">
				<input type="radio" name="upgrade" id="radio{{upgrade.id}}" value="" style="display:none"/>
			</div>
		</div>
		{% endfor %}
	</div>
	{% endfor %}
	{% for upgrade_type, upgrades in flat_price_upgrades_by_type.items %}
	<h4>Type: {{upgrade_type}}</h4>
	<div class="row">
		{% for flat_price_upgrade in upgrades %}
		<div> 
			<div onclick="$('#radio{{flat_price_upgrade.id}}').prop('checked', true);document.forms['div-form'].submit();return false;" style="cursor:pointer">
				<input type="radio" name="upgrade" id="radio{{flat_price_upgrade.id}}" value="{{flat_price_upgrade.id}},{{room}},False,{{room_type|cut:" "}}" style="display:none"/>
				<div><img src="{{ flat_price_upgrade.image }}"/></div>
				<div>Price: {{ flat_price_upgrade.price }}</div>
				<div>Name: {{ flat_price_upgrade.name }}</div>
			</div>
		</div>
		<br>
		{% endfor %}
	{% endfor %}
	</div>
</form>
{% endblock %}