{% extends "base.html" %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../static/js/upgrades.js" type="text/javascript"></script>
<h1>{{room_type}}</h1>
<h3> Chosen Upgrades: </h3>
{% for upgrade in already_chosen %}
<div> 
	<div>
		<div>Room: {{ upgrade.name }}</div>
		<div><img src="{{ upgrade.image }}"/></div>
		{% if upgrade.ppsf_upgrade %} <div>Price Per Square Foot: {{ upgrade.ppsf_upgrade.ppsf }}</div> {% endif %}
		{% if upgrade.flat_price_upgrade %} <div>Price: {{ upgrade.flat_price_upgrade.price }}</div> {% endif %}
	</div>
</div>
{% endfor %}
<div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">{{room_type}}</p>
                <div class="list-group">
                	{% for upgrade_type, upgrades in upgrades_by_type.items %}
					<a href="#" class="list-group-item upgrade-type-selector {% if forloop.first %}active{% endif %}">{{upgrade_type}}</a>
					{% endfor %}
                </div>
            </div>

            <div class="col-md-9">

                <div class="row">
					{% for upgrade_type, upgrades in upgrades_by_type.items %}
						{% for upgrade in upgrades %}
				        <div class="col-sm-4 col-lg-4 col-md-4">
				      	    <div class="thumbnail">
				                <img src="{{ upgrade.image }}" alt="">
				                <div class="caption">
					                <h4 class="pull-right">${{ upgrade.ppsf }}/sf</h4>
					                <h4><a href="../select_room_upgrade/{{upgrade.id}}/{{room}}/True/{{room_type|cut:" "}}">{{ upgrade.name }}</a>
					                </h4>
					                <p>{{ upgrade.description }}</p>
				                </div>
				            </div>
				        </div>
						{% endfor %}
					</div>
					{% endfor %}

                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->
    
{% endblock %}